@page
@using Microsoft.AspNetCore.Mvc.RazorPages;
@model PageWithModel


@functions{
    public class PageWithModel : PageModel
    {
    }
}

@{
    ViewData["Title"] = "PageWithModel4";
}

<h2>PageWithModel4(inside page)</h2>